* {
    box-sizing: border-box;
}
body {
  color: #868686;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
}   
  .avatar {
    height: 150px;
    border-radius: 50%;
    margin: 10px;
  }
  .wrapper {
    border: 2px solid #000;
    height: 100%;
    background: linear-gradient(#ffffff, #fdfbfb);
    margin: 5px;
  }
  .header {
    min-height: 170px;
  }
  .main {
    min-height: 200px;
  }
  .footer {
    height: 80px;
  }
  .conteiner {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header .conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .main_header_1 {
    color: #000;
    font-size: 4em;
    line-height: 40%;
    font-weight: 300;
  }
  .main_title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_header_2 {
  font-weight: 200;
}
  hr {
  border: none;
  background-color: #868686;
  height: 6px; 
  width: 80%;
}
  .main .conteiner {
  display: flex;
}
  .li {
  list-style: none;
}
a {
  text-decoration: none;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts_title {
  margin-left: 50px;
}
.ul {
  margin-top: 0;
}
.html {
  border-left: 18px solid rgb(83, 83, 83);
}
.css {
  border-left: 18px solid rgb(139, 139, 139);
}
.javascript {
  border-left: 18px solid rgb(155, 155, 155);
}
.git {
  border-left: 18px solid rgb(189, 189, 189);
}
.figma {
  border-left: 18px solid rgb(233, 231, 231);
}
.main .conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skills {
  margin: 25px;
}
.section-content p {
  padding: 5px;
}
.code {
  margin: 25px;
}
.about {
 margin: 25px
}
.languages {
  margin: 25px;
}
.eng-skills {
  border-bottom: 1px solid #000;
  font-style: oblique;
}
.link_accaunt {
  color: #868686;
}
.footer .conteiner{
  display: flex;
  justify-content:space-around;
  align-items:center;
}